.signup-page {
  padding-top: 80px;
}

.signup-title {
  text-align: center;
  font-size: 30px;
  color: #2e4c6d;
}

.signup-form {
  width: 100%;
}
@media (min-width: 768px) {
  .signup-form {
    width: 500px;
    margin: auto;
  }
}
.signup-form label,
.signup-form input:not([type="checkbox"]),
.signup-form select {
  display: block;
  width: 90%;
  margin-top: 10px;
  /*type'ı checkbox olanları işin içinden çıkar dedik. */
}
.signup-form input[type="checkbox"],
.signup-form input[type="checkbox"] + label {
  /*checkboxtan sonra gelen ilk label elemanını da al dedik. */

  display: inline-block;
  width: auto;
  margin-top: 15px;
}

.signup-form button[type="submit"] {
  display: block;
  margin-top: 15px;
}

.signup-form select,
.signup-form input:not([type="checxbox"]) {
  border: 1px solid #ccc;
  padding: 10px 15px;
}
.signup-form input:not([type="checkbox"]):focus,
.signup-form select:focus {
  outline: none;
  background-color: rgb(203, 214, 218);
  color: rgb(72, 64, 64);
  border: 1px solid rgb(66, 13, 242);
}
.signup-form input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #2e4c6d;
  vertical-align: bottom;
  border-radius: 50%;
}

.signup-form input[type="checkbox"]:hover {
  background-color: gray;
}

.signup-form input[type="checkbox"]:checked {
  background-color: rgb(248, 48, 48);
}
